.link {
    text-decoration: none;
    color: #6e69a4;
    margin: 10px;
}
.link:hover {
    color: #5fa915;
}
.active {
    color: indianred;
}
.block {
    width:21px;
    height:21px;
    margin:10px;
    background: #3a9f3a;
}
.header {
    display: flex;
    width: 200px;
    transition-duration: 500ms;
    transform: translate(-200px);
}
.header:hover {
    transition-duration: 500ms;
    transform: translate(0px);
}
